<%- include('partials/header') %>

<div class="content">
    <h1 id="h1">A comprehensive platform for reliable</h1>
    <h2 id="h2">Job opportunities and Internship</h2>
    <p class="subtitle">Get discover Get Hired</p>
    <div class="btn-container">
        <a href="/registration" class="btn btn-recruiter" id="recruiter">I am a job recruiter</a>
        <a href="/jobs" class="btn btn-seeker" id="seeker">I am a job seeker</a>
    </div>
</div>

<%- include('partials/footer') %>